.sidenav-container {
  height: calc(100% - 64px); /* Ajusta la altura para que no ocupe espacio del header */
  margin-top: 64px; /* Asegúrate de que el contenido comience después del header */
}

.sidenav {
  width: 250px;
  z-index: 2000; /* Asegúrate de que el z-index sea mayor que el del toolbar y otros componentes */
  position: fixed; /* Cambia a fixed para que se superponga correctamente */
  top: 64px; /* Ajusta la posición para que esté debajo del header */
}

.mat-toolbar {
  background: #181818;
  color: #D2AB4D;
  position: fixed; /* Cambia a fixed para que el sidenav pueda estar por encima */
  top: 0;
  width: 100%;
  z-index: 1500; /* Asegúrate de que el z-index sea menor que el del sidenav */
}

.logo {
  height: 40px; /* Ajusta la altura del logo */
  margin-right: 20px; /* Espacio entre el logo y los demás elementos */
}

.subtitle {
  display: block;
  font-size: 0.8em;
  color: gray;
  margin-top: 4px;
}

.menu-button {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.desktop-menu a,
.dropdown-menu a {
  margin-right: 20px;
  position: relative;
  text-decoration: none;
  color: #D2AB4D;
}

.desktop-menu a::after,
.dropdown-menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #D2AB4D;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.desktop-menu a:hover::after,
.dropdown-menu a:hover::after {
  width: 100%;
}

.dropdown-menu {
  background-color: #181818;
}

.dropdown-item {
  color: #D2AB4D !important;
}

.dropdown-item:hover {
  background-color: #D2AB4D !important;
  color: #181818 !important;
}

@media (max-width: 768px) {
  .menu-button {
    display: inline-flex;
  }
  .desktop-menu {
    display: none;
  }
}
