/* Estilo para la sección Hero */
.problema-section {
    background-image: url('/assets/img/problema.jpeg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    padding: 50px 0; /* Ajusta el padding según tus necesidades */
    color: #ffffff; /* Asegúrate de que el texto sea legible sobre la imagen */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    position: relative; /* Posicionamiento relativo para la máscara */
    margin-top: 56px; /* Ajusta este valor según la altura de tu header */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    border-bottom: 3px solid #D2AB4D; /* Añade un borde inferior para la separación */
   
}



/* Estilo para la máscara */
.mask {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
    position: absolute; /* Posicionamiento absoluto para cubrir toda la sección */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilo para el contenido */
.content {
    max-width: 500px; /* Ajusta el ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido */
    padding: 20px; /* Añade padding al contenido */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
    border-radius: 10px; /* Bordes redondeados */
    text-align: left; /* Alinea el contenido a la izquierda */
}

/* Estilo para el botón */
.problema-section .btn {
    margin-top: 20px; /* Espacio entre el texto y el botón */
    background-color: #D2AB4D; /* Color de fondo del botón */
    color: #161212; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Padding del botón */
    border-radius: 5px; /* Bordes redondeados */
    text-transform: uppercase; /* Texto en mayúsculas */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
}

.problema-section .btn:hover {
    background-color: #cfcbc0; /* Color de fondo del botón al pasar el cursor */
}

/* Ajustes para pantallas grandes */
@media (min-width: 992px) {
    .mask {
        justify-content: flex-start; /* Alinea el contenido a la izquierda */
        padding-left: 50px; /* Añade padding a la izquierda para separación */
    }

    .content {
        margin: 0; /* Elimina el centrado automático */
        margin-left: 20px; /* Añade margen izquierdo para separar el contenido del borde */
    }
}
