<div class="testimonials-section">
    <h2 class="testimonials-title">Lo que dicen nuestros clientes</h2>
    <div class="carousel">
      <button class="nav-button prev" (click)="scrollLeft()">❮</button>
      <div class="card-container">
        <div class="card" *ngFor="let testimonial of testimonials">
          <div class="testimonial-content">
            <img [src]="testimonial.image" alt="Author image" class="testimonial-image">
            <div class="testimonial-text">
              <p class="testimonial-message">{{ testimonial.message }}</p>
              <p class="testimonial-author">{{ testimonial.author }}</p>
              <div class="testimonial-rating">
                <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" [class.filled]="star <= testimonial.rating">★</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="nav-button next" (click)="scrollRight()">❯</button>
    </div>
  </div>
  