.testimonials-section {
    width: 100%;
    text-align: center;
    background-color: #282723; /* Nuevo color de fondo */
    padding: 20px; /* Añadir padding para un mejor espaciado */
  }
  
  .testimonials-title {
    font-size: 24px;
    font-weight: bold;
    color: #D2AB4D !important; /* Cambiar color del título */
    margin-bottom: 20px;
  }
  
  .carousel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .card-container {
    width: 80%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 8px;
  }
  
  .card {
    min-width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfcbc0;
    border: 1px solid #4F5873;
    color: #4a544c;
    border-radius: 8px;
    scroll-snap-align: start;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    background: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-container::-webkit-scrollbar {
    display: none;
  }
  
  .testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .testimonial-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  
  .testimonial-text {
    font-size: 14px;
  }
  
  .testimonial-message {
    font-style: italic;
    margin-bottom: 8px;
  }
  
  .testimonial-author {
    font-weight: bold;
    color: #333;
  }
  
  .testimonial-rating {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
  
  .star {
    font-size: 20px;
    color: #ccc;
    margin: 0 2px;
  }
  
  .star.filled {
    color: #FFD700; /* Color de las estrellas llenas */
  }
  
  .nav-button {
    background-color:#D2AB4D;
    border: none;
    color:black;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }
  
  .nav-button.prev {
    left: 0;
  }
  
  .nav-button.next {
    right: 0;
  }
  
  .nav-button:hover {
    background-color:#cfcbc0;
  }
  