<footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 d-flex flex-column align-items-center">
          <img src="assets/svg/yas-lex-corp.svg" alt="Logo" class="logo mb-2">
          <span>Liderando el asesoramiento jurídico</span>
        </div>
      
        <div class="col-md-4 d-flex flex-column align-items-start contact-info">
          <a href="tel:+1234567890" class="text-light"><i class="fas fa-phone"></i> +123 456 7890</a>
          <a href="mailto:info@example.com" class="text-light"><i class="fas fa-envelope"></i> infoexample.com</a>
          <a href="#" class="text-light"><i class="fas fa-map-marker-alt"></i> Dirección</a>
        </div>
        
        <div class="col-md-4 d-flex flex-column align-items-center">
          <div class="social-icons">
            <a href="#" class="text-light" data-tooltip="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="text-light" data-tooltip="Whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="#" class="text-light" data-tooltip="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-light" data-tooltip="Iinkedin"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      © 2024 Todos los derechos reservados.
    </div>
  </footer>
  